* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*applies to all elements in the body*/
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER / NAV BAR STYLES START */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* HEADER / NAVBAR STYLES END */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff; /* added the marigin-bottom and color of .benefit-lead, .benefit-brand, and benefit-cost all to benefits style */
}

/*consolidated all benefit h3 into one css property*/
.benefits h3 {
    margin: 10px;
    text-align: center;
}

/*consolidated all the benefit images into one css property*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*created search engine optimization, online reputation management, and social media marketing into one class content-bio*/
.content-bio {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* created one css style for all content class images */
.content img {
    max-height: 200px;
}

/* created one css style for all content class h2 */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* FOOTER STYLES START */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* END FOOTER STYLES */